{% extends 'base.html' %}

{% block content %}

<h1>Todo</h1>

<hr>
{% if message %} 
{{message}}
{% else %}
{% for todo in todos  %}

<p>{% if request.user == todo.author %}
    {{todo.author}} - {{todo.title}}
    <div>
        <p>{{ todo.title }}</p>
        <form action="{% url 'todos:toggle' todo.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="complete-btn completed">
            
            {% if todo.completed %}
              취소하기
            {% else %}
              완료하기
            {% endif %}
          </button>
         
        </form>
        
      </div> 

    <form method="post" action="{% url 'todos:delete' pk=todo.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
</p>{% endif %}
{% endfor %}
{% endif %}
{% endblock content %}